ADMIN_TEST_EMAIL=admin@admin.com
ADMIN_TEST_PASSWORD=123456
VENDOR_TEST_EMAIL=khalid@techzone.com
VENDOR_TEST_PASSWORD=password123
MARKETER_TEST_EMAIL=yasmin@marketer.com
MARKETER_TEST_PASSWORD=password123
DELIVERY_TEST_PHONE=+1-681-242-4935
DELIVERY_TEST_PASSWORD=password123
CARRIER_TEST_EMAIL=tariq@aramex.com
CARRIER_TEST_PASSWORD=password123
